In [1]:
import pandas as pd

In [2]:
history = pd.read_csv('./historical.csv')
history.head()

          Item Month  Sales  Number per order
0  Lawn Chairs   Jan      5              10.0
1  Lawn Chairs   Feb      8               NaN
2  Lawn Chairs   Mar     12               NaN
3  Lawn Chairs   Apr     12               NaN
4  Lawn Chairs   May     23               NaN

In [8]:
grouped = history["Sales"].groupby(history['Item'])
grouped.mean()

Item
Coolers            38.583333
Crossbows          51.750000
Flippy Floppies    73.083333
Lawn Chairs        22.083333
Pool Noodles       64.666667
Umbrellas          48.333333
Waffle Irons       55.916667
Name: Sales, dtype: float64

In [9]:
grouped.std()

Item
Coolers            29.053112
Crossbows          31.241362
Flippy Floppies    14.228386
Lawn Chairs        16.800749
Pool Noodles       19.873845
Umbrellas          21.111536
Waffle Irons       28.192386
Name: Sales, dtype: float64

In [16]:
needed = grouped.mean() + (grouped.std()*.75)
needed

Item
Coolers            60.373168
Crossbows          75.181022
Flippy Floppies    83.754623
Lawn Chairs        34.683895
Pool Noodles       79.572050
Umbrellas          64.166986
Waffle Irons       77.060956
Name: Sales, dtype: float64

In [15]:
grouped.max()

Item
Coolers             78
Crossbows          142
Flippy Floppies     90
Lawn Chairs         50
Pool Noodles        98
Umbrellas           70
Waffle Irons       112
Name: Sales, dtype: int64