In [1]:
import pandas as pd

In [2]:
history = pd.read_csv('./historical.csv')
history.head()

          Item Month  Sales  Number per order
0  Lawn Chairs   Jan      5              10.0
1  Lawn Chairs   Feb      8               NaN
2  Lawn Chairs   Mar     12               NaN
3  Lawn Chairs   Apr     12               NaN
4  Lawn Chairs   May     23               NaN