In [4]:
import pandas as pd
import numpy as np

In [10]:
inventory = pd.read_csv('./inventory.csv')
inventory.head()

      Unnamed: 0 Current Inv Sales
0    Lawn Chairs          20     0
1      Umbrellas          50     0
2        Coolers          20     0
3  Paving Stones          10     0
4   Pool Noodles          75     0