In [4]:
import pandas as pd
import numpy as np

In [7]:
inventory = pd.read_csv('./inventory.csv')
inventory.head()

      Unnamed: 0 Current Inv Sales
0    Lawn Chairs          20     0
1      Umbrellas          50     0
2        Coolers          20     0
3  Paving Stones          10     0
4   Pool Noodles          75     0

In [8]:
inventory = pd.read_csv('./historical.csv')
inventory.head()

          Item Month  Sales  Number per order
0  Lawn Chairs   Jan      5              10.0
1  Lawn Chairs   Feb      8               NaN
2  Lawn Chairs   Mar     12               NaN
3  Lawn Chairs   Apr     12               NaN
4  Lawn Chairs   May     23               NaN