In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('./historical.csv')
df.head()

          item month  sales  inventory  orders  order size  turnover
0  Lawn Chairs   Jan      5         50       0          20    0.1000
1  Lawn Chairs   Feb      8         45       0          20    0.1778
2  Lawn Chairs   Mar     12         37       0          20    0.3243
3  Lawn Chairs   Apr     12         25       1          20    0.4800
4  Lawn Chairs   May     23         33       1          20    0.6970

In [5]:
sales_data = df["sales"].groupby(df['item'])
inventory_data = df["inventory"].groupby(df['item'])
order_data = df["orders"].groupby(df['item'])

In [6]:
df["sales"].groupby(df['item']).max()

item
Coolers             78
Crossbows          142
Flippy Floppies     90
Lawn Chairs         50
Pool Noodles        98
Umbrellas           70
Waffle Irons       112
Name: sales, dtype: int64

### Max

In [7]:
df.loc[df.groupby("item")["sales"].idxmax()]

               item month  sales  inventory  orders  order size  turnover
30          Coolers   Jul     78         68       6          10    1.1471
47        Crossbows   Dec    142         26       0           5    5.4615
74  Flippy Floppies   Mar     90         46       1         100    1.9565
6       Lawn Chairs   Jul     50         25       2          20    2.0000
62     Pool Noodles   Mar     98         69       1          50    1.4203
15        Umbrellas   Apr     70         85       1          25    0.8235
49     Waffle Irons   Feb    112        157       0          20    0.7134

### Average Sales

In [8]:
df["sales"].groupby(df['item']).mean().round()

item
Coolers            39.0
Crossbows          52.0
Flippy Floppies    73.0
Lawn Chairs        22.0
Pool Noodles       65.0
Umbrellas          48.0
Waffle Irons       56.0
Name: sales, dtype: float64

### STDEV of Sales

In [31]:
df["sales"].groupby(df['item']).std().round()

item
Coolers            29.0
Crossbows          31.0
Flippy Floppies    14.0
Lawn Chairs        17.0
Pool Noodles       20.0
Umbrellas          21.0
Waffle Irons       28.0
Name: sales, dtype: float64

### Average Inventory

In [35]:
df["inventory"].groupby(df['item']).mean().round()

item
Coolers             66.0
Crossbows           19.0
Flippy Floppies    141.0
Lawn Chairs         32.0
Pool Noodles       139.0
Umbrellas           57.0
Waffle Irons        54.0
Name: inventory, dtype: float64

### STDEV OF Inventory

In [32]:
df["inventory"].groupby(df['item']).std().round()

item
Coolers            25.0
Crossbows          13.0
Flippy Floppies    64.0
Lawn Chairs        14.0
Pool Noodles       82.0
Umbrellas          28.0
Waffle Irons       61.0
Name: inventory, dtype: float64

### Average Turnover

In [22]:
df["turnover"].groupby(df['item']).mean().round(4)

item
Coolers            0.7316
Crossbows          3.5081
Flippy Floppies    0.7076
Lawn Chairs        1.0344
Pool Noodles       0.7924
Umbrellas          1.3185
Waffle Irons       3.0801
Name: turnover, dtype: float64

### STDEV Turnover

In [39]:
df["turnover"].groupby(df['item']).std().round(4).to_dict()

{'Coolers': 0.6065,
 'Crossbows': 1.9243,
 'Flippy Floppies': 0.5212,
 'Lawn Chairs': 1.0751,
 'Pool Noodles': 0.7585,
 'Umbrellas': 1.2263,
 'Waffle Irons': 4.0303}

In [53]:
items = df["item"].unique()
items.sort()
items_dataframe = pd.DataFrame(items, columns = ['item_name'])
items_dataframe['turnover_std'] = df["turnover"].groupby(df['item'],as_index=False).std().round(4).to_dict()
items_dataframe

TypeError: as_index=False only valid with DataFrame

In [37]:
df.loc[df.groupby("item")["sales"].idxmax()]

               item month  sales  inventory  orders  order size  turnover
30          Coolers   Jul     78         68       6          10    1.1471
47        Crossbows   Dec    142         26       0           5    5.4615
74  Flippy Floppies   Mar     90         46       1         100    1.9565
6       Lawn Chairs   Jul     50         25       2          20    2.0000
62     Pool Noodles   Mar     98         69       1          50    1.4203
15        Umbrellas   Apr     70         85       1          25    0.8235
49     Waffle Irons   Feb    112        157       0          20    0.7134

In [60]:
df.pivot_table(index='item', aggfunc='mean')

                  inventory  order size    orders      sales  turnover
item
Coolers           66.166667          10  3.333333  38.583333  0.731558
Crossbows         19.250000           5  7.583333  51.750000  3.508067
Flippy Floppies  140.583333         100  0.666667  73.083333  0.707600
Lawn Chairs       31.916667          20  1.083333  22.083333  1.034383
Pool Noodles     139.000000          50  0.916667  64.666667  0.792358
Umbrellas         56.833333          25  1.916667  48.333333  1.318467
Waffle Irons      53.833333          20  1.583333  55.916667  3.080150

In [85]:
df.pivot_table(values = "sales", index='item', aggfunc='max').to_dict()

{'sales': {'Coolers': 78,
  'Crossbows': 142,
  'Flippy Floppies': 90,
  'Lawn Chairs': 50,
  'Pool Noodles': 98,
  'Umbrellas': 70,
  'Waffle Irons': 112}}

In [75]:
df.groupby(df["item"]).sales.agg(["std","mean"])

                       std       mean
item
Coolers          29.053112  38.583333
Crossbows        31.241362  51.750000
Flippy Floppies  14.228386  73.083333
Lawn Chairs      16.800749  22.083333
Pool Noodles     19.873845  64.666667
Umbrellas        21.111536  48.333333
Waffle Irons     28.192386  55.916667

In [80]:
df.groupby(df["item"]).inventory.agg(["std","mean"]).to_dict()

{'std': {'Coolers': 25.160695659313685,
  'Crossbows': 12.771594902894329,
  'Flippy Floppies': 63.84848305072555,
  'Lawn Chairs': 14.015954112973176,
  'Pool Noodles': 81.79242018671412,
  'Umbrellas': 27.65315478741928,
  'Waffle Irons': 61.0972895297229},
 'mean': {'Coolers': 66.16666666666667,
  'Crossbows': 19.25,
  'Flippy Floppies': 140.58333333333334,
  'Lawn Chairs': 31.916666666666668,
  'Pool Noodles': 139.0,
  'Umbrellas': 56.833333333333336,
  'Waffle Irons': 53.833333333333336}}

In [79]:
df.groupby(df["item"]).turnover.agg(["std","mean"]).to_dict()

{'std': {'Coolers': 0.6064691245357439,
  'Crossbows': 1.9242584646527812,
  'Flippy Floppies': 0.5212318206989006,
  'Lawn Chairs': 1.0751400380951086,
  'Pool Noodles': 0.7584887803548859,
  'Umbrellas': 1.2263158108247598,
  'Waffle Irons': 4.030339386904825},
 'mean': {'Coolers': 0.7315583333333332,
  'Crossbows': 3.5080666666666667,
  'Flippy Floppies': 0.7076000000000001,
  'Lawn Chairs': 1.0343833333333332,
  'Pool Noodles': 0.7923583333333334,
  'Umbrellas': 1.3184666666666665,
  'Waffle Irons': 3.0801499999999997}}

In [81]:
df.groupby(df["item"]).sales.agg(["std","mean"]).to_dict()

{'std': {'Coolers': 29.05311228308137,
  'Crossbows': 31.241362442645283,
  'Flippy Floppies': 14.22838605383512,
  'Lawn Chairs': 16.800748540322587,
  'Pool Noodles': 19.873844544267147,
  'Umbrellas': 21.111536412515544,
  'Waffle Irons': 28.192385604283402},
 'mean': {'Coolers': 38.583333333333336,
  'Crossbows': 51.75,
  'Flippy Floppies': 73.08333333333333,
  'Lawn Chairs': 22.083333333333332,
  'Pool Noodles': 64.66666666666667,
  'Umbrellas': 48.333333333333336,
  'Waffle Irons': 55.916666666666664}}